<!DOCTYPE html>

<head>
    <title>Bang For Your Buck</title>
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <h1 class="heading" align="center">Bang For Your Buck</h1>
    
    <div class="error"></div>
    {{{body}}}
</body>

</html>
