<ul class="heading">
        <li class="heading"><a href="/signup" class="heading">Sign Up</a></li>
        <li class="heading"><a href="/" class="heading">Login</a></li>
    </ul>

<div class="form" style="content-align:center">
    <form method="POST" name="login" action="/login" style="text-align:center;" onsubmit="return validateLogin();">
        Existing Username: <input type="text" name="username">
        <br>Password: <input type="text" name="password">
        <br>
        <input type="submit">
    </form>
</div>

<script src="validate.js"></script>